<% if movies.respond_to? :each_slice %>
  <div class="container px-5 py-5">
    <% movies.each_slice(5) do | four_movies | %>
      <div class="row">
        <% four_movies.each do |movie| %>
          <div class="col mx-1" style="max-width: 290px;">
            <%= link_to show_movie_path(movie) do %>
              <div class="card mb-5">
                <div style="height: 200px; overflow: hidden;">
                  <img src=<%= movie["poster"] %>  alt=<%= movie["title"] %> class="card-img-top">
                </div>
                <div class="card-body">
                  <p class="card-title text-decoration-none link-dark"><%= movie["title"].truncate(30) %></p>
                  <span class="badge bg-info text-dark"> <%= movie["category"] %> </span>
                </div>
                <div class="d-flex justify-content-around">
                  <div class="mb-3">
                    <% if movie["to_watch"] %>
                      <%= form_with model: @watch_list_movies, url: remove_to_watch_path do |form| %>
                        <%= hidden_field :movie, movie.to_json  %>
                        <%= button_tag(type: 'submit', class: "icons border-0") do %>
                        <%= octicon "bookmark-fill", :height => 16,  :class => "right left", :"aria-label" => "unlike" %>
                          <span>Remove </span>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= form_with model: @watch_list_movies, url: add_to_watch_path do |form| %>
                        <%= hidden_field :movie, movie.to_json  %>
                        <%= button_tag(type: 'submit', class: "icons border-0") do %>
                        <%= octicon "bookmark", :height => 16,  :class => "right left", :"aria-label" => "like" %>
                            <span>WatchList</span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="mb-3">
                    <% if movie["watched"] %>
                      <%= form_with model: @watched_list_movies, url: remove_watched_path do |form| %>
                        <%= hidden_field :movie, movie.to_json  %>
                        <%= button_tag(type: 'submit', class: "icons border-0") do %>
                        <%= octicon "eye", :height => 16,  :class => "right left", :"aria-label" => "unlike" %>
                          <span> Not Seen</span>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= form_with model: @watched_list_movies, url: add_watched_path do |form| %>
                        <%= hidden_field :movie, movie.to_json  %>
                        <%= button_tag(type: 'submit', class: "icons border-0") do %>
                        <%= octicon "eye-closed", :height => 16,  :class => "right left", :"aria-label" => "like" %>
                          <span>Seen</span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                  <div class="mb-3">
                    <% if movie["liked"] %>
                      <%= form_with model: @favorite_movies, url: remove_favorite_path do |form| %>
                        <%= hidden_field :movie, movie.to_json  %>
                        <%= button_tag(type: 'submit', class: "icons border-0") do %>
                        <%= octicon "heart-fill", :height => 16,  :class => "right left", :"aria-label" => "unlike" %>
                          <span>Unlike</span>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= form_with model: @favorite_movies, url: add_favorite_path do |form| %>
                        <%= hidden_field :movie, movie.to_json  %>
                        <%= button_tag(type: 'submit', class: "icons border-0") do %>
                        <%= octicon "heart", :height => 16,  :class => "right left", :"aria-label" => "like" %>
                          <span>Like</span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>    
      </div>
    <% end %>
    </div>
<% else %>
  <div>
    <p> NO results </p>
  </div>
<% end %>
