<% if movies.respond_to? :each_slice %>
  <div class="container px-5 py-5">
    <% movies.each_slice(5) do | four_movies| %>
      <div class="row">
        <% four_movies.each do | m | %>
            <div class="col mx-1">
              <div class="card mb-5">
                <div style="height: 200px; overflow: hidden;">
                  <img src=<%= m["Poster"] %>  alt=<%= m["Title"]%> class="card-img-top">
                </div>
                <div class="card-body">
                   <div class="row d-flex justify-content-start">
                     <div class="col">
                      <p class="card-text card-title"> <span class="badge bg-secondary"><%= m["Year"]%></span></p>
                     </div>
                     <div class="col">
                      <p class="card-text card-title"> <span class="badge bg-secondary"><%= m["Type"]%></span></p>
                     </div>
                   </div>
                  <p class="card-text card-title"><%= m["Title"].truncate(30) %></p>
                  <p class="card-text"><%=  m["Plot"] %></p>
                   <div class="d-flex justify-content-evenly">
                     <div class="col">
                       <%= form_with model: @watch_list_movies, url: add_to_watch_path do |form| %>
                         <%= hidden_field :movie, m %>
                         <%= button_tag(type: 'submit', class: "icons border-0") do %>
                         <%= octicon "bookmark", :height => 12,  :class => "right left", :"aria-label" => "like" %>
                         <% end %>
                       <% end %>
                     </div>
                     <div class="col">
                       <%= form_with model: @watched_list_movies, url: add_watched_path do |form| %>
                         <%= button_tag(type: 'submit', class: "icons border-0") do %>
                         <%= hidden_field :movie, m %>
                         <%= octicon "eye", :height => 12,  :class => "right left", :"aria-label" => "like" %>
                         <% end %>
                       <% end %>
                     </div>
                     <div class="col">
                       <%= form_with model: @favorite_movies, url: add_favorite_path do |form| %>
                         <%= hidden_field :movie, m %>
                         <%= button_tag(type: 'submit', class: "icons border-0") do %>
                         <%= octicon "heart", :height => 12,  :class => "right left", :"aria-label" => "like" %>
                         <% end %>
                       <% end %>
                     </div>
                   </div>
                </div>
              </div>
            </div>
        <% end %> 
      </div>
    <% end %>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <%= link_to search_path, request.params %>
          </a>
        </li>
      </ul>
    </nav>
  </div>

<% else %>
  <div>
    <p> No results, please try another search term </p>
  </div>
<% end %>
